<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kanbi.recyclerviewmvvm">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main3Activity"
            android:label="@string/title_activity_main3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".inspirationBooking.inspirationHotel"
            android:label="inspirationHotel"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main4Activity"
            android:label="@string/title_activity_main4"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".sistaMinuten.sistaMinuteActivity"
            android:label="@string/title_activity_sista_minute"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".bokaResa.flygHotellWeb"
            android:label="@string/title_activity_flyg_hotell_web"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".bokaResa.cityWeb"
            android:label="@string/title_activity_city_web"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".bokaResa.kryssningWeb"
            android:label="@string/title_activity_kryssning_web"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".bokaResa.flygWeb"
            android:label="@string/title_activity_flyg_web"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".bokaResa.hotellWeb"
            android:label="@string/title_activity_hotell_web"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".inspirationBooking.destinationActivity"
            android:label="@string/title_activity_destination"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".inspirationBooking.restipsActivity"
            android:label="@string/title_activity_restips"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".inspirationBooking.warminfoActivity"
            android:label="@string/title_activity_warminfo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".minSida.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".minSida.EmailLogin"
            android:label="@string/title_activity_email_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".minSida.myActivity"
            android:label="@string/title_activity_my"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>